.todo-form-container .form-group *{
    width: 100%;
}
.todo-form-container .form-group{
    margin-bottom: 10px;
}

.todo-form-container input[type="submit"]{
    background: #00f2fe;
    border:1px solid grey;
  
}



