.wd_widget-theme-light {
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
}

.wd_widget-theme-light .wd_item_date {
	font-weight: bold;
}

.wd_widget-theme-light a.wd_item_link_block {
	text-decoration: none;
	color: inherit;
}

.wd_widget-theme-light .wd_layout-carousel {
	background: #f5f5f5;
	border: 1px solid #d4d4d4;
}

.wd_widget-theme-light .wd_layout-carousel .wd_item {
	border-left: 1px dotted #9a9a9a;
}

.wd_widget-theme-light .wd_layout-carousel .wd_item:first-child {
	border-left: none;
}

.wd_widget-theme-light .wd_layout-carousel .wd_item_info {
	line-height: 1.333em;
}

.wd_widget-theme-light .wd_layout-carousel .wd_item_date {
	font-weight: normal;
	color: #808080;
}

.wd_widget-theme-light .wd_layout-carousel .jcarousel-next-horizontal {
	background-image: url("../../../images/carousel/next-horizontal-light.png");
}

.wd_widget-theme-light .wd_layout-carousel .jcarousel-prev-horizontal {
	background-image: url("../../../images/carousel/prev-horizontal-light.png");
}

.wd_widget-theme-light .wd_layout-masonry .wd_item {
	margin: 0;
	padding: 0;
	border: 1px solid #d4d4d4;
}

.wd_widget-theme-light .wd_layout-masonry .wd_item_image {
	text-align: center;
	margin: 0;
	padding: 5px;
	background-color: #ffffff;
	border-bottom: 1px solid #d4d4d4;
}

.wd_widget-theme-light .wd_layout-masonry .wd_item_info {
	margin: 0;
	padding: 12px 5px;
	background: #f5f5f5;
	line-height: 1.333em;
}

.wd_widget-theme-light .wd_layout-masonry .wd_item_date {
	font-weight: normal;
	color: #808080;
}

.wd_widget-theme-light .wd_quote {
	background-color: #f5f5f5;
}

.wd_widget-theme-light #ir_tooltip {
	background-color: #e4e4e4;
}
