.content-news{
  padding-top: 80px;
  padding-right: 0px;
}

.search-excerpt span {
  font-weight: bold;
}

@media (min-width: 768px) {
  .content {
    font-size: 14px;
  }
}

.search-excerpt .embed-responsive {
  width: 100%;
}
.search-excerpt p {
  clear: none;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.5;
}
.item-news-feed {
  float: left;
  width: 100%;
}

.search-page-numbers ul.page-numbers {
  text-align: center;
}

.search-page-numbers ul.page-numbers li {
  display: inline-block;
  margin: 0 5px;
}

.search-page-numbers ul.page-numbers li .page-numbers {
  font-size: 30px;
  padding: 0 10px;
}

.search-page-numbers ul.page-numbers li .current {
  color: #3C95E3;
}

.ecr_wrap h4, .ecr_wrap h1 {
  color: #ffffff;
}

nav.custom-mega-menu .wp-megamenu-wrap .wpmm-nav-wrap > ul > li > a {
  text-transform: uppercase;
  color: #fff460;
}

nav.custom-mega-menu .wp-megamenu-wrap .wpmm-nav-wrap > ul > li {
  padding-right: 40px;
}

nav.custom-mega-menu #wp-megamenu-megamenu>.wpmm-nav-wrap .wp-megamenu>li>ul.wp-megamenu-sub-menu li.wpmm-type-widget>a {
  color: #4b4a4b;
  font-weight: bold;
  white-space: nowrap;
}

nav.custom-mega-menu #wp-megamenu-megamenu > .wpmm-nav-wrap ul.wp-megamenu > li ul.wp-megamenu-sub-menu li a {
  text-transform: none;
  color: #4b4a4b;
}

.benefits-custom-col ul.wp-megamenu-sub-menu li.wpmm-row ul.wp-megamenu-sub-menu li.wpmm-col:last-child {
  display: none;
}

.benefits-custom-col ul.wp-megamenu-sub-menu li {
  white-space: nowrap;
}

.benefits-custom-col ul.wp-megamenu-sub-menu li.wpmm-row ul.wp-megamenu-sub-menu li.wpmm-col:nth-of-type(4) {
  margin-left: 20px;
}

.sl-next:hover, .sl-prev:hover {
  background-image: url(../images/controls-map-light-b.png) !important;
}

.sl-close {
  background-image: url(../images/controls-map-blue.png) !important;
  color: transparent !important;
  background-position: -737px 50% !important;
  background-repeat: no-repeat !important;
  top: 10px !important;
  right: 10px !important;
}

.sl-close:hover {
  opacity: 1 !important;
  background-image: url(../images/controls-map-light-b.png) !important;
}

.sl-counter {
  font-family: 'proximanova';
  font-size: 16px !important;
  color: #303543;
  line-height: 22px !important;
}