.ContactData{
    margin:20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    input{
        display:block;
        width:92%;
        margin:15px;
        padding:10px;
    }
     button{
        display: block;
        width: 94%;
        margin-top: 1.33em;
        padding:5px;
        font-weight: bold;
        margin: 1.33em auto;
     }
    @media (max-width: 600px){
        width: 500px;
    }
}
